.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #205295;
  border: 1px solid #205295;
  color: #F5EDED;
  font-size: 1.5rem;
}

.price:hover {
  background-color: #F5EDED;
  border: 1px solid #205295;
  color: #205295;
}

.item p {
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}