.button {
  background-color: transparent;
  border-color: #F5EDED;
  color: #F5EDED;
}

.button:hover,
.button:active {
  color: #F5EDED;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #F5EDED;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #144272;
}